name: Deploy Frontend

on:
  push:
    branches: ["master"]

concurrency:
  group: deploy-frontent
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy frontend via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          port: ${{ secrets.VPS_PORT }}
          script: |
            set -e

            cd /root/takora/takora-frontend
            git fetch --all
            git reset --hard origin/master

            docker-compose pull || true
            docker-compose up -d --build --remove-orphans

            docker image prune -f
